* { /*selettori di reset :root, html*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /**/
}

:root {
    --primary-color: #f4f4f4;
    --secondary-color: #333;
    --border-color: #ccc;
    --link-color: #333;
    --link-color-hover: #f4f4f4;
    --background-color: #f4f4f4;
    --main-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--main-font);
    background-color: var(--background-color);
    color: var(--secondary-color);
    line-height: 1.6;
    font-size: 16px;
}

hr {
    margin: 20px 0;
} 

h1 {
    margin-bottom: 20px;
}

.nav-links {
    display: flex;
    flex-grow: 1;
    position: absolute;
    right: 0;
    top: 13px;
    justify-content: space-between;
    list-style-type: none;    
}


li {
    margin-right: 15px;
}
